<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmação de Pedido</title>

</head>
<body>
  <div class="container">
    <h1>Confirmação de Pedido</h1>
    <div class="receipt-details">
      <p><strong>Nome do Cliente:</strong> {{clientName}}</p>
      <p><strong>Número do Pedido:</strong> {{orderId}}</p>
    </div>
    <div class="total">
      <p><strong>Total do Pedido:</strong> {{total}} Reais</p>
    </div>
  </div>

  <div class="footer">
    &copy;Desenvolvido por  Neyvelopers
  </div>
</body>
</html>
